.body {
    height: 100vh;
    width: 100vw;
}

.navsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
}

.input {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 25px;
}

.submitCity {
    background-color: lightskyblue;
}

.input button {
    width: 100%;
    height: 50%;
}

.currentCityDisplay div {
    border: black solid 1px;
    border-radius: 5px;
}

.fivedayforecast {
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

.fivedayforecast div {
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    background-color: rgb(27, 27, 56);
    padding: 5%;
}